@import url(./__list/customizations__list.css);

.customizations {
  background-color: #faf8f8;
  text-align: center;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .customizations {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .customizations {
    width: 60%;
  }
}
