@import url(./__cup/coffee__cup.css);
@import url(./__cup/__size/coffee__cup_size_small.css);
@import url(./__cup/__size/coffee__cup_size_large.css);
@import url(./__liquid/coffee__liquid.css);
@import url(./__liquid/_size/coffee__liquid_size_small.css);
@import url(./__liquid/_size/coffee__liquid_size_large.css);
@import url(./__liquid/_roast/coffee__liquid_roast_light.css);
@import url(./__liquid/_roast/coffee__liquid_roast_dark.css);
@import url(./__sweetener/coffee__sweetener.css);
@import url(./__sweetener/_type/coffee__sweetener_type_sugar.css);
@import url(./__sweetener/_type/coffee__sweetener_type_stevia.css);
@import url(./__sweetener/_type/coffee__sweetener_type_honey.css);
@import url(./__sweetener/_type/coffee__sweetener_type_none.css);
@import url(./__sweetener/_size/coffee__sweetener_size_small.css);
@import url(./__sweetener/_size/coffee__sweetener_size_large.css);
@import url(./__whipped-cream/coffee__whipped-cream.css);
@import url(./__whipped-cream/__show/coffee__whipped-cream_show.css);
@import url(./__whipped-cream/_size/coffee__whipped-cream_size_small.css);
@import url(./__whipped-cream/_size/coffee__whipped-cream_size_large.css);
@import url(./__flavorings/coffee__flavorings.css);
@import url(./__flavorings/_size/coffee__flavorings_size_small.css);
@import url(./__flavorings/_size/coffee__flavorings_size_large.css);
@import url(./__flavorings/_show/coffee__flavorings_show.css);
@import url(./__flavoring-wrapper/coffee__flavoring-wrapper.css);
@import url(./__flavoring/coffee__flavoring.css);
@import url(./__flavoring-icon/coffee__flavoring-icon.css);
@import url(./__flavoring-icon/_flavor/coffee__flavoring-icon_flavor_chocolate.css);
@import url(./__flavoring-icon/_flavor/coffee__flavoring-icon_flavor_hazelnut.css);
@import url(./__flavoring-icon/_flavor/coffee__flavoring-icon_flavor_peppermint.css);
@import url(./__flavoring-icon/_flavor/coffee__flavoring-icon_flavor_vanilla.css);

.coffee {
  width: 50%;
  margin: 0 auto;
  position: relative;
}
