@import url(./__title/customization__title.css);
@import url(./__options/customization__options.css);
@import url(./__option/customization__option.css);
@import url(./__input/customization__input.css);
@import url(./__btn/customization__btn.css);
@import url(./__btn/_icon/customization__btn_icon_small-cup.css);
@import url(./__btn/_icon/customization__btn_icon_medium-cup.css);
@import url(./__btn/_icon/customization__btn_icon_large-cup.css);
@import url(./__btn/_icon/customization__btn_icon_coffee.css);
@import url(./__btn/_icon/customization__btn_icon_vanilla.css);
@import url(./__btn/_icon/customization__btn_icon_chocolate.css);
@import url(./__btn/_icon/customization__btn_icon_peppermint.css);
@import url(./__btn/_icon/customization__btn_icon_whipped-cream.css);
@import url(./__label-text/customization__label-text.css);

.customization {
  margin-top: 20px;
}

@media (min-width: 425px) {
  .customization {
    width: 90%;
    margin: 20px auto 0;
  }
}
