@import url(./__title/customization__title.css);
@import url(./__options/customization__options.css);
@import url(./__option-wrapper/customization__option-wrapper.css);
@import url(./__option/customization__option.css);
@import url(./__option/_type/customization__option_type_multi-choice.css);
@import url(./__input/customization__input.css);
@import url(./__btn/customization__btn.css);
@import url(./__btn/_icon/customization__btn_icon_small-cup.css);
@import url(./__btn/_icon/customization__btn_icon_medium-cup.css);
@import url(./__btn/_icon/customization__btn_icon_large-cup.css);
@import url(./__btn/_icon/customization__btn_icon_coffee.css);
@import url(./__btn/_icon/customization__btn_icon_honey.css);
@import url(./__btn/_icon/customization__btn_icon_sugar.css);
@import url(./__btn/_icon/customization__btn_icon_stevia.css);
@import url(./__btn/_icon/customization__btn_icon_vanilla.css);
@import url(./__btn/_icon/customization__btn_icon_chocolate.css);
@import url(./__btn/_icon/customization__btn_icon_peppermint.css);
@import url(./__btn/_icon/customization__btn_icon_cream.css);
@import url(./__btn/_icon/customization__btn_icon_soy-milk.css);
@import url(./__btn/_icon/customization__btn_icon_almond-milk.css);
@import url(./__btn/_icon/customization__btn_icon_whipped-cream.css);
@import url(./__label-text/customization__label-text.css);
@import url(./__multi-choice-options/customization__multi-choice-options.css);
@import url(./__multi-choice-option/customization__multi-choice-option.css);
@import url(./__choices/customization__choices.css);
@import url(./__choice/customization__choice.css);
@import url(./__choice-btn/customization__choice-btn.css);

.customization {
  margin-top: 20px;
}

@media (min-width: 425px) {
  .customization {
    width: 90%;
    margin: 20px auto 0;
  }
}
