.section-title {
  font-family: 'Rhodium Libre', serif;
  padding: 20px 0 0 0;
  font-size: 2rem;
  margin: 0;
}

@media (min-width: 1024px) {
  .section-title {
    font-size: 2.2rem;
    padding: 25px 0 0 0;
  }
}

@media (min-width: 1280px) {
  .section-title {
    font-size: 2.5rem;
  }
}
