.coffee__flavorings_size_small {
  height: 52%;
  bottom: 8px;
  width: 90%;
  right: 8px;
}

@media (min-width: 375px) {
  .coffee__flavorings_size_small {
    width: 84%;
    height: 47%;
    bottom: 16px;
    right: 15px;
  }
}

@media (min-width: 1280px) {
  .coffee__flavorings_size_small {
    right: 18px;
  }
}
