.customization__btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #000;
  display: flex;
  background-repeat: no-repeat;
  background-position: 55% center;
  background-size: 65%;
  margin: 0 auto;
  transition: background-color ease-in-out 0.2s;
}

.customization__input:checked + .customization__btn,
.customization__option:hover .customization__btn {
  background-color: #a44200;
  border-color: #a44200;
}
