.start__button {
  height: 30px;
  width: 100px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .start__button {
    height: 40px;
    width: 110px;
  }
}

@media (min-width: 1280px) {
  .start__button {
    height: 45px;
    width: 120px;
    font-size: 1.2rem;
  }
}
