.customization__btn_icon_no-sweetener {
  background-image: url(../../../../images/no-sweetener.svg);
  background-position: center;
  background-size: 75%;
}

.customization__input:checked + .customization__btn_icon_no-sweetener {
  background-image: url(../../../../images/white-no-sweetener.svg);
}
