.customization__btn_icon_whipped-cream {
  background-image: url(../../../../images/whipped-cream.svg);
  background-position: 57% center;
}

.customization__input:checked + .customization__btn_icon_whipped-cream {
  background-image: url(../../../../images/white-whipped-cream.svg);
}
