.coffee__flavorings {
  position: absolute;
  display: none;
  width: 92%;
  height: 72%;
  margin: 0;
  padding: 0;
  bottom: -1px;
  right: 5px;
  list-style: none;
  grid-template-rows: repeat(5, 20%);
  grid-template-columns: repeat(5, 20%);
}

.coffee_size_small .coffee__flavorings {
  height: 52%;
  bottom: 8px;
  width: 90%;
  right: 8px;
}

.coffee_size_large .coffee__flavorings {
  height: 85%;
}

@media (min-width: 375px) {
  .coffee__flavorings {
    right: 13px;
    height: 70%;
    bottom: 3px;
    width: 86%;
  }

  .coffee_size_small .coffee__flavorings {
    width: 84%;
    height: 47%;
    bottom: 16px;
    right: 15px;
  }
}

@media (min-width: 1280px) {
  .coffee_size_small .coffee__flavorings {
    right: 18px;
  }
}
